

.wayfarer-heading {
  margin: 20px;
}

.navbar-div {
  display: flex;
  flex-direction: row;
  /* justify-content: space-between; */
}

.nav-list {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin: 0;
}

.sign {
  margin: 20px;
}
