body {
  box-sizing: border-box;
  margin:0;
  padding:0;
  background-image: linear-gradient(dodgerblue, powderblue);
}

.btn {
  background-color: yellowgreen;
  border-color: olivedrab;
}

.add-post {
  border-radius: 25px;
  margin-left: 43vw;
}

.navbar {
  background-color: olivedrab;
}

.navbar-brand {
  color: white;
}

.navbar-toggler {
  color: white;
}

.wayfarer-heading {
  margin: 20px;
}

.navbar-div {
  display: flex;
  flex-direction: row;
  /* justify-content: space-between; */
}

.nav-list {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin: 0;
}

.sign {
  margin: 20px;
}
